* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 400px;
}

a {
  text-decoration: none;
  color: black;
}

/*Wrapper*/

#wrapper {
  margin: 0 auto;
}

nav {
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
}

header {
  padding: 0 20px 5px 20px;
}

#logo_box {
  width: 70%;
  align-items: center;
}

.logo {
  height: 35px;
  margin: 15px 0 0 5px;
}

#links {
  text-align: end;
  font-weight: 500;
}

#links a {
  display: inline-block;
  margin-left: 150px;
  line-height: 60px;
  text-decoration: none;
}

#links :nth-child(2) {
  margin-left: 35px;
}

#links a.active {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

/*Search Section*/

#search {
  min-height: 100px;
  padding: 6px;
}

#search_bar {
  display: flex;
  flex-flow: row wrap;
  height: 40px;
}

#search_bar i {
  background-color: #deebff;
  border: 1px solid #deebff;
  padding: 6px;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25px;
  text-align: center;
}

#search_bar input {
  border: 1px solid #deebff;
  padding: 6px;
  font-weight: bold;
}

#search_bar button {
  background-color: #0065fc;
  border: 1px solid #deebff;
  padding: 6px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#search p {
  font-weight: bold;
}

#search h5 {
  font-weight: 500;
  margin-top: -10px;
}

.short_search {
  display: none;
}

/*Filters*/

#filters {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.filter_part {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  border: none;
}

#filter_element_a {
  border: 1px solid #deebff;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#filter_element_b {
  border: 1px solid #deebff;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#filter_element_c {
  border: 1px solid #deebff;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#filter_element_d {
  border: 1px solid #deebff;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#filters i {
  background-color: #deebff;
  color: #0065fc;
  height: 25px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
}

.filter_title {
  border: none;
  text-align: center;
  margin-right: 25px;
  margin-top: 10px;
  font-weight: bold;
}

#filters a {
  text-decoration: none;
  margin: auto;
  padding-left: 5px;
  color: black;
  font-weight: 600;
  font-size: 1em;
}

.filter_element:hover {
  background-color: #deebff;
}

/*Info Icon*/

#info {
  padding: 0;
}

#info i {
  border: 1px solid #deebff;
  color: #0065fc;
  border-radius: 50%;
  padding: 10px;
  width: 15px;
  text-align: center;
  position: relative;
  top: -10px;
}

.info_text {
  display: inline-block;
  width: 29%;
}

.border {
  background-color: solid black;
  border: 1px solid black;
}

/*Accomodation*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.accomodations_container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  height: 790px;
  border-radius: 15px;
  margin-left: 20px;
}

.accmdt_card {
  background-color: white;
  height: 230px;
  width: 240px;
  margin: 10px;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin-left: 30px;
}

.accomodations_image {
  height: 150px;
  width: 220px;
  margin-top: 2.5px;
  border-radius: 15px 15px 0 0;
}

.accomodations_heading {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 30px;
  font-family: "raleway";
}

.accomodation_caption {
  height: 75px;
  text-align: left;
  margin-left: 25px;
}

.caption_heading {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  line-height: 0.5;
  font-family: "raleway";
}

.caption_para {
  padding: 0;
  margin: 0;
  font-size: small;
  font-family: "raleway";
}

.caption_star {
  color: blue;
  margin-top: 5px;
  padding: 0;
  font-size: small;
}

/*Most Popular*/

.popular_container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 36%;
  height: 790px;
  align-content: center;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.popular_heading {
  margin-bottom: 60px;
  margin-left: 32px;
  font-family: "raleway";
  width: 340px;
}

.chartline {
  border: none;
  background-color: #f2f2f2;
  font-size: medium;
  margin-bottom: 46px;
  padding-left: 100px;
}

.popular_card {
  background-color: white;
  height: 200px;
  width: 480px;
  margin: 20px;
  margin-top: 5px;
  border-radius: 15px;
  margin-left: 32px;
}

.popular_image {
  height: 195px;
  width: 180px;
  border-radius: 15px 0 0 15px;
  margin-top: 2.5px;
  margin-left: 2.5px;
}

.popular_image_caption {
  vertical-align: middle;
  float: right;
  margin-right: 40px;
  height: 190px;
  width: 200px;
}

.popular_image_heading {
  font-family: "raleway";
  margin-left: 20px;
}

.popular_caption_para {
  font-family: "raleway";
  font-size: small;
  margin-top: 50px;
  margin-left: 20px;
}

.popular_caption_star {
  color: blue;
  font-size: small;
  margin-left: 20px;
  margin-top: 45px;
}

.morning_sun_stars {
  color: blue;
  font-size: small;
  margin-left: 20px;
  padding-top: 51px;
}

.gray_star {
  color: rgb(218, 218, 214);
}

/*Activities*/

#active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

#activities_heading {
  margin-left: 20px;
  width: 100%;
}

.activities_card {
  box-shadow: 2px 2px 5px #f2f2f2;
  border: 1px solid #deebff;
  border-radius: 15px;
  width: 23.2%;
  margin: 10px 0 20px 20px;
  height: 470px;
}

.activities_card_2 {
  /*border-radius: 15px;
  width: 23.2%;
  margin: 20px 0 20px 20px;
  height: 450px;
  background-color: blueviolet;*/
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.activities_image_heading {
  position: static;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 17px;
}

.activities_image_heading_2 {
  position: static;
  margin-left: 20px;
  margin-bottom: 20px;
}

/*.small_active {
  display: flex;
  flex-flow: column;
  box-shadow: #f2f2f2;
  border: 1px solid #deebff;
  height: 210px;
  width: 100%;
  border-radius: 15px;
  background-color: brown;
  margin-top: 15px;
  justify-content: space-between;
}*/

.small_active {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 5px;
  padding: 0;
  width: 300px;
  box-shadow: 2px 2px 5px #f2f2f2;
  height: fit-content;
  border: 1px solid #deebff;
}

.small_active:hover {
  box-shadow: 2px 2px 5px grey;
}

.large_activities_image {
  border: 1px solid #deebff;
  height: 405px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.small_activities_image {
  border: 1px solid #deebff;
  height: 166px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/*Footer*/

#footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.footer_card {
  width: 30%;
  height: 400px;
  margin-left: 20px;
  margin-top: 60px;
  padding-right: 20px;
}

.footer_list {
  margin-left: -40px;
}

ul {
  list-style-type: none;
  line-height: 200%;
}

/*Media*/

@media only screen and (min-width: 375px) and (max-width: 812px) {
  /*wrapper*/

  #wrapper {
    order: 1;
  }
  .logo {
    margin-left: 125px;
  }
  #links :nth-child(2) {
    margin-left: 100px;
    border-bottom: 1px solid #0065fc;
    background-color: orange;
  }
  #links a.active {
    margin-left: 5px;
    border-bottom: 1px solid #0065fc;
    background-color: tomato;
    border-top: white;
  }

  /*Search Section*/

  #search {
    font-size: 20px;
  }
  #search_bar {
    justify-content: center;
  }
  #search_bar input {
    font-size: 17px;
  }
  #search_bar button {
    border-radius: 25%;
  }
  .long_search {
    display: none;
  }
  .short_search {
    display: inline;
  }

  /*Filters*/

  .filter_title {
    margin-bottom: 10px;
  }
  #filter_element_a {
    order: 1;
    margin-bottom: 10px;
  }
  #filter_element_b {
    order: 3;
    margin-bottom: 10px;
  }
  #filter_element_c {
    order: 2;
  }
  #filter_element_d {
    order: 4;
  }
  .info_text {
    width: 80%;
  }

  /*Accomodations*/

  .container {
    order: 2;
  }
  .accomodations_container {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    order: 2;
  }
  .accmdt_card {
    height: 250px;
    width: 325px;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 17px;
    box-shadow: 2px 2px 5px gray;
  }
  .accomodations_image {
    height: 170px;
    width: 100%;
    margin-top: 2.5px;
    border-radius: 15px 15px 0 0;
  }
  .accomodations_heading {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
  }

  /*Most Popular*/

  .popular_container {
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    order: 1;
  }
  .popular_heading {
    margin-left: 25px;
    font-size: 20px;
  }
  .chartline {
    font-size: 20px;
    margin-left: 230px;
    margin-top: -95px;
  }
  .popular_card {
    height: 150px;
    width: 90%;
    align-items: center;
    align-content: center;
    margin-left: 22px;
    font-size: 15px;
  }
  .popular_image {
    height: 145px;
    width: 155px;
  }
  .popular_image_caption {
    position: inline;
    margin-top: -155px;
    height: 90%;
    margin-right: auto;
  }
  .popular_image_heading {
    margin-left: 40px;
    font-size: 15px;
  }
  .popular_caption_para {
    margin-left: 40px;
    margin-top: 0;
  }
  .morning_sun_stars {
    margin-left: 40px;
    margin-top: -10px;
  }
  .popular_caption_star {
    margin-left: 40px;
    margin-top: 37px;
  }

  /*Activities*/

  #active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    order: 3;
  }
  #activities_heading {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .activities_card {
    height: 250px;
    width: 325px;
    margin: 25px 20px 5px 25px;
    font-size: 17px;
    box-shadow: 2px 2px 5px gray;
  }
  .activities_card_2 {
    height: 535px;
    width: 325px;
    margin: 0 20px 0 25px;
    font-size: 17px;
    justify-content: space-between;
  }
  .small_active {
    height: 250px;
    width: 100%;
    font-size: 17px;
    box-shadow: 2px 2px 5px gray;
    margin-top: 20px;
    padding: 0;
    margin-left: 0;
  }
  .large_activities_image {
    height: 170px;
    width: 100%;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
  }
  .small_activities_image {
    height: 170px;
    width: 100%;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
  }
  .activities_image_heading {
    width: 100%;
    margin-right: 0;
  }
  .activities_image_heading_2 {
    width: 100%;
    margin-right: 0;
  }

  /*Footer*/

  #footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    order: 4;
  }
  .footer_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .footer_heading {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
